


body{
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}




.navigation{
  background-color:pink;
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 9;
}

.logo{
  width: 70%;
}

.nav-illus{
  width: 30%;
  display: flex;
  flex-direction: column;
}














/*event side css----------------------------------------------------*/




.events{
  font-family: Roboto, sans-serif;
  width: 20%;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  background:none;
  transition: all .5s ease; /* back to normal */
  padding-left: 1%;
  padding-right: 1%;
  
}
.events:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

.card_image {
  width: 100%; /* forces image to maintain its aspect ratio; otherwise image stretches vertically */
  height: 30vh;

}

.card_text {
  width: 80%;
  padding-top: 0%;

}

h2 {
  margin: 8px 0px 12px 0px;
}

.container {
  transform: translateY(0%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}


.video{
  margin-left: 
  1%;
  z-index: -2;
  width:100% ;
  height: 500px;

}







/*Forside css css----------------------------------------------------*/

#leftside{
  background-color:#3c226b ;
  width:50%;
  height: 100vh;
  z-index: 2;
  transform: translateY(-36%);
  position: relative;
  margin-left: 10%;

}

#rightside{

  z-index: 2;
  background-color: #5c2f92;
  height: 550px;
  width: 45%;
  transform: translateY(-180%);
  margin-left:45%;
  padding:0%;
  position: relative;
}



.buttontop {
	background:none;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;

	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(50vh);
  margin-left: 15%;
  position: relative;
  z-index: 3;
  
}
.buttontop:hover {
	border:1px solid #faf9f9;
}

.buttontop:active {
	position:relative;
	top:1px;
}



.textwarpper{
  margin-left: 15%;
  transform: translatey(25vh);
  width: 40%;
  z-index: 3;
 position: relative;
}

.textwarpper > h1,h2{
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

/*instagram forside-----------------------------------------------*/


.insta{
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  background:none;
  transition: all .5s ease; /* back to normal */
  
  
}
.insta:hover {
  transform: translate3D(0,-1px,0) scale(1.2); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

.instacard_image {
  width: 100%; /* forces image to maintain its aspect ratio; otherwise image stretches vertically */
  padding-left: 0%;
  margin: 10%;
  height: 30vh;

}

.instacard_text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  width: 100%;
  padding-top: 0%;
  text-align: center;



}

.instacard_text > h2{
  color: #3c226b;

}

.containerinsta {

  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}






/*produkt side css----------------------------------------------------*/

.produkter{
  margin-top: 30%;
}

.produkt{
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  background:none;
  transition: all .5s ease; /* back to normal */
  padding: 2%;
  
}
.produkt:hover {
  
}

.produktcard_image {
  width: 100%; /* forces image to maintain its aspect ratio; otherwise image stretches vertically */
  height: 50vh;
  border: 5px solid #3c226b ;
  border-radius: 4px;
  

}

.produkt_text {
  text-align: center;;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  width: 100%;
  padding-top: 0%;



}

.produkt_text > h2{
  color: #3c226b;

}

.containerprodukt {
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}





.buttonprodukt {
	background:none;
	border:1px solid #3c226b;
	display:inline-block;
	cursor:pointer;
	color: #3c226b;
	font-family:Arial;
	font-size:26px;

	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(2vh);
  margin-left: 0%;
  position: relative;
  z-index: 3;
  
}
.buttontop:hover {
	border:1px solid #faf9f9;
}

.buttontop:active {
	position:relative;
	top:1px;
}





/*footer------------------------------------------------------------------*/


footer{

	position: relative;
	bottom: 0;
}
 
@media (max-height:400px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #3c226b;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  font-family: Arial, Helvetica, sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #ffffff;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #3c226b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}