.navigation{
  background-color:pink;
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo{
  width: 70%;
}

.nav-illus{
  width: 30%;
  display: flex;
  flex-direction: column;
}



